// @mixin bx($padding, $margin-bottom)

@mixin bx($bg-color, $padding: $gutter){
  padding: $padding;
  background-color: $bg-color;
}

// Create Button Sizes
// ======================================================================= ->
// Button sizes
@mixin buttonSize($padding-x, $font-size, $line-height) {
  padding: 0 $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}


@mixin hover ($bg: darken($value, 5%)){
  &:hover {
    @content;
    background-color: $bg;
  }
}



@mixin active ($bg: lighten($value, 5%)){
  &:active {
    @content;
    background-color: $bg;
  }
}
