
$bg-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));

// ====================================================================== -->
// main page elements
// ====================================================================== -->
$navbar-outer-bg:         #222222; // used to colour outer navbar container

$header-bg:               rgba(0,0,0,0);
$header-text-color:       #fff;

$footer-bg:               rgb(25, 28, 29);
$footer-text-color:       #47788c;

// ====================================================================== -->
// text styles
// ====================================================================== -->
$headline-color:         #fff;
$headline-font-weight:    400;

// ====================================================================== -->
// nav
// ====================================================================== -->
$nav-padding-y:           0.5rem;
$nav-padding-x:           1.5rem;


$nav-bg:                  white;
$nav-hover-bg:            #efefef;

// ====================================================================== -->
// navbar
// ====================================================================== -->
$navbar-bg:               $navbar-outer-bg;
$navbar-color:            #fff;
