$buttonBackgrounds: (
  primary: $primary,
  secondary: $secondary
);


// Create Button Sizes
// ======================================================================= ->
// Button sizes
@mixin buttonSize($padding-y, $padding-x, $font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
}


@mixin hover ($bg: darken($value, 3%)){
  &:hover {
    @content;
    background-color: $bg;
  }
}

@mixin active ($bg: lighten($value, 5%)){
  &:active {
    @content;
    background-color: $bg;
  }
}




// ==========================================================================
// override base element for basic style
// ==========================================================================
button{
  padding: $control-padding-y $control-padding-x;
  border: $control-border-width solid rgba(0,0,0,0.15);
  font-size: $control-font-size;
  background: $button-bg;
  border-radius: .2rem;
}
// ==========================================================================
// -- Base Class --
// ==========================================================================
.btn {
  display: inline-block;
  padding: $control-padding-y $button-padding-x;
  border: $control-border-width solid rgba(0,0,0,0.15);
  // font-size: $control-font-size; // important! do not change here
  font-size: 1rem; // important! do not change here
  text-align: center;
  user-select: none;
  background: $button-bg;
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
  color: $button-color;
  border-radius: .2rem;
  font-weight: 500;

  &:hover {
    text-decoration: none;
    background-color: darken($button-bg, 5%);
  }

  &.focus,
  &:focus {
    outline: none;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  // -- Size Modifiers --
  // ==========================================================================
  &.sm {
    @include buttonSize(
      $control-padding-y-sm, $button-padding-x-sm, $control-font-size-sm
    );
  }
  &.lg {
    @include buttonSize(
      $control-padding-y-lg, $button-padding-x-lg, $control-font-size-lg
    );
  }
}

// Create Button Variations
// ==========================================================================
// @mixin button-variant($background, $hover-background, $active-background
@each $key, $value in $buttonBackgrounds {
  .btn-#{$key} {
    @extend .btn;
    background-color: $value;
    color: setTextColor($value);

    // add bg colour paramater or leave blank for transparent
    @include hover (lighten($value, 5%)) {
      text-decoration: none;
      color: #fff;
    }

    @include active(darken($value, 5%)) {}
  }
}
