
// specifically set height for select to equal other form elements

select{
  line-height: $control-height ; // something not quite right here!!!
  &.sm{height: $control-height-sm;}
  &.lg{height: $control-height-lg;}
}

textarea,
select,
input{
  // do not use line-height or will push inputs down
  // padding, border and font-size together create stable inputs
  border: $control-border-width solid rgba(0,0,0,0.15);
  padding: $control-padding-y $control-padding-x;
  font-size: $control-font-size;
  border-radius: .2rem;
  &.sm{
    padding: $control-padding-y-sm $control-padding-x-sm;
    font-size: $control-font-size-sm;
  }
  &.lg{
    padding: $control-padding-y-lg $control-padding-x-lg;
    font-size: $control-font-size-lg;
  }

  &:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0,123,255,.15);
    transition: all .25s linear;
  }

  &.danger{
    background-color: transparent;
    color: $base-color;
    border: 1px solid #DC3545;
  }
}

.frm-row{

  input, select, textarea{
    width: 100%;
  }

  +.frm-row{
    margin-top: $gutter;
  }

}


form{

  .row{

    align-items: center; // align labels

    input, select, textarea{
      width: 100%;
    }

    // if in row with cols adjust margins to center label to input
    label[class*="col-"] {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  +.row{
    margin-top: $gutter;
  }
}
