// ====================================================================== -->
// navbar
// ====================================================================== -->

.navbar {
	background: $navbar-bg;
	display: flex;
	align-items: center;
	justify-content: space-between; // evenly space elements.
  padding: .5rem 1rem;
  // text-transform: uppercase;
  position: relative;

	>.container {
		display: flex;
		align-items: center;
    justify-content: space-between; // evenly space elements.
    padding: 0; // let the navbar do the work
  }

  .nav{
    flex-direction: row;

    a{
      font-weight: 500;
      color: setTextColor($navbar-bg);
      &:hover{
        color: setTextColor($nav-hover-bg);
        background: $nav-hover-bg;
      }
    }
  }

}

