// ====================================================================== -->
// Base nav class - basis for all `<nav>`s or `<ul>`s navigations
// ====================================================================== -->
.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
    flex-direction: column;

    // nav items
	a {
    padding: $nav-padding-y $nav-padding-x;
    display: block;
    color: setTextColor($nav-bg);

    &:hover{
      color: setTextColor($nav-hover-bg);
      background: $nav-hover-bg;
    }
	}

	.heading {
		padding: 0 $nav-padding-x;
		margin-top: 1rem;
		font-weight: 700;
	}
}
