$img-path: '/images';
$icon-font-path: '/fonts';
// ==========================================================================
// Theme Colours
// ==========================================================================
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$darkblue: #003049;

$primary: $darkblue;
$secondary: #F77F00;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #fafafa;
$dark: #222222;

// ==========================================================================
// Base Styles
// ==========================================================================
$base-color: #333;
$base-bg: #fff;
// $base-font-family: Roboto, "Helvetica Neue", Helvetica, Arial,sans-serif;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$base-font-weight: normal;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-border: #ddd;

// ==========================================================================
// Spacings
// ==========================================================================
// Used to add padding to components
$gutter-sm: .5rem;
$gutter: 1.25rem;
$gutter-md: 2.5rem;
$gutter-lg: 4rem;
$gutter-xl: 10rem;

// used to seperate elements
$margin-sm: .5rem;
$margin: 1.25rem;
$margin-md: 2.5rem;
$margin-lg: 2rem;
$margin-xl: 3rem;

// ==========================================================================
// Responsive Sizes
// ==========================================================================

$breakpoints: (
  xs: 320px,
  sm: 556px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// translate breakpoints into user firendly names for easy reference

// these could be refered to as display when sizes, display when min width is $tablet
$small: map-get($breakpoints, xs);
$phone: map-get($breakpoints, sm);
$tablet: map-get($breakpoints, md);
$desktop: map-get($breakpoints, lg);
$large-screen: map-get($breakpoints, xl);

// ==========================================================================
// Font Sizes
// ==========================================================================

$font-size-sm: ($base-font-size * .875);
$font-size-md: ($base-font-size * 1.25);
$font-size-lg: ($base-font-size * 1.50);

// list of headline sizes
$heading-sizes: $base-font-size * 2.5,
$base-font-size * 2,
$base-font-size * 1.75,
$base-font-size * 1.5,
$base-font-size * 1.25,
$base-font-size;


// ==========================================================================
// Base controls for buttons and inputs
// ==========================================================================
// all control sizes are relative to the font size and border width
$control-font-size: $base-font-size;
$control-border-width: 1px;
$control-padding-x: .5rem;
$control-padding-y: 0.25rem;

$control-font-size-sm: $base-font-size * .7;
$control-border-width-sm: 1px;
$control-padding-x-sm: 25rem;
$control-padding-y-sm: .1rem;

$control-font-size-lg: $base-font-size;
$control-border-width-lg: 1px;
$control-padding-x-lg: .75rem;
$control-padding-y-lg: .9rem;

// get input 'inner height' as the 1st step for the 'height' calc
$control-height-inner: ($control-font-size * $base-line-height)+($control-padding-y * 2);
$control-height: calc(#{$control-height-inner} + (#{$control-border-width} * 2));

$control-height-inner-sm: ($control-font-size-sm * $base-line-height)+($control-padding-y-sm * 2);
$control-height-sm: calc(#{$control-height-inner-sm} + (#{$control-border-width} * 2));

$control-height-inner-lg: ($control-font-size-lg * $base-line-height)+($control-padding-y-lg * 2);
$control-height-lg: calc(#{$control-height-inner-lg} + (#{$control-border-width} * 2));

$button-bg: rgb(248, 248, 248);

$button-padding-x: .75rem;
$button-padding-x-sm: .25rem;
$button-padding-x-lg: 2.5rem;
// dynamically set the text colour based on the background
$button-color: setTextColour($button-bg);
