$colors: (
  primary: $primary,
  secondary: $secondary,
  dark: $dark,
  light: $light,
  danger: $danger,
  success: $success,
  warning: $warning,
  blue: $blue,
  purple: $purple,
);


@each $key, $value in $colors {
  .#{$key} {
    background: $value;
    border: 2px solid rgba(0,0,0,0.15);
    // set text colour based on background setTextColor()
    color: setTextColor($value);
  }
}
