$flex-justify:(
  l: flex-start,
  r: flex-end,
  ctr: center,
  between: space-between,
  around: space-around,
  even: space-evenly
);

// more to go
$flex-align-items:(
  t: flex-start,
  m: center,
  b: flex-end,
  stretch: stretch,
  baseline: baseline,
);

.flexCon {
  display: flex;
  flex-wrap: wrap;

  @each $key, $value in $flex-justify{
    &.justify-#{$key}{justify-content: $value;}
  }
  // align-items: (vertical alignment)
  @each $key, $value in $flex-align-items{
    &.align-#{$key}{align-items: $value;}
  }

  &.col{
    flex-direction: column;
  }
}

